<div class="jumbotron" style="margin-top:50px;">
	<div class="container">
	  <h1>Todolist with OAuth2</h1>
    <p>This is a task list manager based on AngularJS, OAuth2 and Bootstrap. This is a sample application to show you how to access oauth2 protected data.</p>
    <p>This is the client application part, Enjoy !</p>
    <p th:if="${session.username == null}"><a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Sign in</a></p>
  </div>
</div>
      
<div class="container homepage">
	<div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="images/spring-logo.png" alt="Generic placeholder image" width="140" height="140" />
      <h2>AngularJS</h2>
      <p>AngularJS is what HTML would have been, had it been designed for building web-apps. Declarative templates with data-binding, MVW, MVVM, MVC, ...</p>
      <p><a class="btn btn-default" href="https://angularjs.org/" role="button">View details</a></p>
    </div>
	  <div class="col-lg-4">
      <img class="img-circle" src="images/oauth-2-sm.png" alt="Generic placeholder image" width="140" height="140" />
      <h2>OAuth2</h2>
      <p>OAuth 2.0 is the next evolution of the OAuth protocol which was originally created in late 2006. OAuth 2.0 focuses on client developer simplicity while providing specific authorization flows for web applications, desktop applications, mobile phones, and living room devices.</p>
      <p><a class="btn btn-default" href="http://oauth.net/2/" role="button">View details</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="images/bootstrap-logo.png" alt="Generic placeholder image" width="140" height="140" />
      <h2>Bootstrap</h2>
      <p>Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/" role="button">View details</a></p>
    </div>
  </div>
</div>
