<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.index()">OAuth2 Todo List</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul th:with="condition=${session.username}" class="nav navbar-nav">
          <li><a href="@routes.Application.index()">Home</a></li>
          <li th:if="${condition}"><a href="@routes.Todo.index()">My Todos</a></li>
          <li th:unless="${condition}"><a th:href="@{/login}">Login</a></li>
        </ul>
        <ul th:with="condition=${session.username}" class="nav navbar-nav navbar-right">
          <li th:if="${condition}" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">${session.username} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>           
              </li>            
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</body>

</html>